*, *::after, *::before {
  padding: 0%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside {
  height: 100vh;
  width: 25vw;
  background-color: #6d1a1a;
  color: white;
  position: absolute;
}

@media (max-width: 650px) {
  aside {
    width: 50vw;
  }
}

aside h1 {
  font-size: 9em;
  letter-spacing: .1em;
}

@media (max-width: 650px) {
  aside h1 {
    font-size: 4em;
  }
}

aside .text {
  position: relative;
  top: 50%;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 650px) {
  aside .text {
    margin-left: 10%;
  }
}

aside .text img {
  width: 40px;
  height: 40px;
}

aside .text .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: 20%;
}

aside .text .details .plus {
  cursor: pointer;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

span p {
  font-size: 1.5em;
  margin-top: 5px;
  white-space: nowrap;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../Assets/Coding-Challenge-Image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.socials {
  position: absolute;
  bottom: 5px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

section {
  position: absolute;
  left: 10px;
  bottom: -100px;
  height: 75vh;
  width: 50vw;
  background-color: white;
  color: black;
}

@media (max-width: 1000px) {
  section {
    height: auto;
    width: 85vw;
    margin: auto;
    padding-bottom: 4em;
  }
}

@media (max-width: 650px) {
  section {
    bottom: -300px;
    left: 0px;
    margin-right: 20%;
  }
}

@media (max-width: 400px) {
  section {
    bottom: -500px;
  }
}

section h3 {
  font-size: 2em;
  width: 100%;
  margin-left: 92%;
  margin-top: 2%;
  color: #6d1a1a;
  cursor: pointer;
}

section p {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  line-height: 1.7em;
}

section h2 {
  font-size: 4em;
  margin-left: 8%;
  color: #6d1a1a;
}

section button {
  color: white;
  padding: 12px 2.2em;
  margin-top: 5%;
  margin-left: 10%;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#6d1a1a), color-stop(70%, rgba(109, 26, 26, 0.6)));
  background: linear-gradient(90deg, #6d1a1a 0%, rgba(109, 26, 26, 0.6) 70%);
}

section hr {
  width: 80%;
  margin: auto;
  height: 2px;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#6d1a1a), color-stop(70%, rgba(109, 26, 26, 0)));
  background: linear-gradient(90deg, #6d1a1a 0%, rgba(109, 26, 26, 0) 70%);
  border: none;
}

.hide {
  display: none !important;
}

.active {
  display: block;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: open 1s;
          animation: open 1s;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes open {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes close {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes close {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
}

.close {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: close 2s;
          animation: close 2s;
}

.socials {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */